{{ define "main" }}
<div class="home-content">
    {{ .Content }}

    <h2>Recent Writings</h2>
    <ul class="blog-posts">
    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
    <li>
      <span><time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2 Jan 2006" }}</time></span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    </ul>
    <p class="see-all"><a href="/blog/">all writings &rarr;</a></p>

    <h2>Blogs I Read</h2>
    <ul>
      <li><a href="https://danluu.com/">Dan Luu</a></li>
      <li><a href="https://benkuhn.net/">Ben Kuhn</a></li>
      <li><a href="https://hamvocke.com/">Ham Vocke</a></li>
      <li><a href="https://mrale.ph/blog/">Vyacheslav Egorov</a></li>
      <li><a href="https://mathiasbynens.be/notes">Mathias Bynens</a></li>
      <li><a href="https://alexwlchan.net/">Alex</a></li>
    </ul>

    <hr>
    <p><em>Thanks for stopping by, stranger!</em></p>
</div>
{{ end }}
